<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque provident animi, molestiae qui repudiandae cum quia non voluptatem cumque aut.</p>
    </div>
</section>