<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore iure ab, non asperiores distinctio libero.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita saepe iusto necessitatibus iste aspernatur ipsa pariatur quo, qui delectus similique.</p>
    <a href="#" class="btn btn-primary">Jon</a>
</div>